/* :root {
--non-active: #5a5959;
--white: #fff;
--but: #394014;
--stars: #ae990b;
--bg: #141a19;
--input: #b9b9b9;
}*/

@font-face {
  font-family: 'Jomolhari';
  src: url('../fonts/Jomolhari-Regular.woff2') format('woff2'), url('../fonts/Jomolhari-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Jomolhari', 'Lato', sans-serif;
  color: #fff;
  background-color: #141a19;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal !important;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* -------------------- MOBILE -------------------- */

@media (min-width: 375px) and (max-width: 834px) {
  /* sec-Hero */
  .sec-hero {
    height: 100vh;
    margin-bottom: 100px;
    background-image: url('../images/hero/hero_bg-mob.webp');
    background-size: cover; /* Робить зображення повністю відповідним */
    background-repeat: no-repeat; /* Забороняє повторення */
    background-position: center; /* Центрує зображення */
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 375px) and (max-width: 834px),
    screen and (min-resolution: 2ddpx) and (min-width: 375px) and (max-width: 834px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 375px) and (max-width: 834px) {
    .sec-hero {
      background-image: url('../images/RETINA/hero/mobile/hero_bg@2x-mob.webp');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  @media screen and (min-resolution: 288dpi) and (min-width: 375px) and (max-width: 834px),
    screen and (min-resolution: 3dppx) and (min-width: 375px) and (max-width: 834px),
    screen and (min-device-pixel-ratio: 3) and (min-width: 375px) and (max-width: 834px) {
    .sec-hero {
      background-image: url('../images/RETINA/hero/mobile/hero_bg@3x-mob.webp');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

/* -------------------- TABLET -------------------- */

@media (min-width: 835px) and (max-width: 1439px) {
  /* sec-Hero */
  .sec-hero {
    height: 100vh;
    margin-bottom: 100px;
    background-image: url('../images/hero/hero_bg-tab.webp');
    background-size: cover; /* Робить зображення повністю відповідним */
    background-repeat: no-repeat; /* Забороняє повторення */
    background-position: center; /* Центрує зображення */
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 835px) and (max-width: 1439px),
    screen and (min-resolution: 2ddpx) and (min-width: 835px) and (max-width: 1439px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 835px) and (max-width: 1439px) {
    .sec-hero {
      background-image: url('../images/RETINA/hero/tablet/hero_bg@2x-tab.webp');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  @media screen and (min-resolution: 288dpi) and (min-width: 835px) and (max-width: 1439px),
    screen and (min-resolution: 3dppx) and (min-width: 835px) and (max-width: 1439px),
    screen and (min-device-pixel-ratio: 3) and (min-width: 835px) and (max-width: 1439px) {
    .sec-hero {
      background-image: url('../images/RETINA/hero/tablet/hero_bg@3x-tab.webp');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

/* -------------------- DESKTOP -------------------- */

@media screen and (min-width: 1440px) {
  .container {
    margin-left: 24px;
    margin-right: 24px;
  }

  .section {
    margin-bottom: 100px;
  }

  /* Header */
  .header {
    position: absolute;
    left: 0;
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: end;
    background: rgba(0, 0, 0, 0);
  }

  .navigation-header {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .navigation-list {
    display: flex;
    gap: 64px;
  }

  .navigation-link-item {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.01em;
  }

  .nav-link {
    text-decoration: none;
    color: inherit;
  }

  /* sec-Hero */
  .sec-hero {
    height: 100vh;
    margin-bottom: 113px;
    background-image: url('../images/hero/hero_bg-desk.webp');
    background-size: cover; /* Робить зображення повністю відповідним */
    background-repeat: no-repeat; /* Забороняє повторення */
    background-position: center; /* Центрує зображення */
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2ddpx) and (min-width: 1440px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .sec-hero {
      background-image: url('../images/RETINA/hero/desktop/hero_bg@2x-desk.webp');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  @media screen and (min-resolution: 288dpi) and (min-width: 1440px),
    screen and (min-resolution: 3dppx) and (min-width: 1440px),
    screen and (min-device-pixel-ratio: 3) and (min-width: 1440px) {
    .sec-hero {
      background-image: url('../images/RETINA/hero/desktop/hero_bg@3x-desk.webp');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sec-hero-title {
    padding-top: 144px;
    width: 468px;
    font-size: 48px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
  }

  .ukraine {
    position: relative;
    display: inline-block;
    font-size: 128px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #fff;
  }

  .ukraine::after {
    content: 'Ukraine';
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    transform: scaleY(-1);
    opacity: 0.3;
    background: linear-gradient(2deg, #fff 0%, rgba(255, 255, 255, 0) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btn-hero {
    position: absolute;
    left: 50vw;
    /* margin-top: 104px; */
    padding: 16px 52px;
    display: block;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: #394014;
    color: #fff;
  }

  .btn-link {
    text-decoration: none; /* Прибирає підкреслення */
    color: inherit; /* Залишає колір тексту, як у батьківського елемента */
  }

  .link-icon {
    fill: aqua;
  }

  /* sec-About-us */
  .sec-about-us {
    height: 573px;
  }

  .about-us {
    display: flex;
    padding: 0 200px;
    width: 1024px;
    height: 338px;
    gap: 32px;
  }

  .description {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #fff;
  }

  /* sec-Our-tours */
  .sec-our-tours {
    position: relative; /* Контейнер для абсолютного позиціонування */
    height: 1271px;
  }

  .sec-our-tours h1 {
    position: absolute; /* Абсолютне позиціонування відносно .sec-our-tours */
    left: 50%; /* 50% від ширини секції */
    transform: translate(-50%); /* Здвигаю елемент на 50% своєї ширини */
  }

  .sec-our-tours-title {
    font-family: 'Jomolhari';
    font-weight: 400;
    font-size: 64px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #fff;
  }

  /* sec-Gallery */

  .sec-gallery {
    position: relative;
    height: 711px;
  }

  /* .swiper {
    width: 80%;
  } */

  .swiper-slide img {
    /* width: 100%; */
    width: 400px;
    height: 494px;
    border-radius: 4px;
  }

  .sec-gallery-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
    font-size: 64px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #fff;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next {
    right: 10px;
  }

  .arrow {
    transition: stroke 0.3s ease-in-out;
  }

  .arrow:hover,
  .arrow.active {
    stroke: yellow; /* Колір при наведенні або активному стані */
  }

  /* .sec-gallery h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  } */

  /* .sec-gallery img {
    width: 100%; Адаптивні зображення
    max-width: 400px; Максимальна ширина
    height: auto;
    border-radius: 4px;
  } */

  /* sec-Reviews */
  .sec-reviews {
    position: relative;
    height: 698px;
    background: linear-gradient(360deg, #141a19 0%, rgba(0, 0, 0, 0) 100%),
      linear-gradient(180deg, #141a19 0%, rgba(0, 0, 0, 0) 100%), url('../images/reviews/reviews_bg-desk.webp');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .sec-reviews h1 {
    position: absolute;
    top: 64px; /* 64px від верхнього краю секції */
    left: 50%;
    transform: translate(-50%);
  }

  .sec-reviews-title {
    font-size: 64px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #fff;
  }

  /* sec-Start-travel */
  .sec-start-travel {
    height: 840px;
    background: url('../images/start-travel/wheat_bg-desk.webp');
    background-repeat: no-repeat;
  }

  /* Footer */
  .footer {
    height: 324px;
  }

  /* .scroll-top {
    position: fixed; Фіксована позиція
    bottom: 40px;
    right: 40px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: olive; Колір кнопки
    color: #fff;
    border: none;
    border-radius: 10px;
    display: none; Початково приховати
    transition: opacity 0.3s;
  }

  .scroll-top:hover {
    background-color: darkolivegreen;
  } */

  .back-to-top {
    position: fixed;
    bottom: -40px;
    right: 40px;
    transition: 0.5s linear;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('/images/png/free-icon-pine.webp') no-repeat center center;
    background-size: contain;
    border: none;
  }

  .back-to-top.active {
    bottom: 40px;
    transition: 0.5s linear;
  }
}
