/* :root {
--non-active: #5a5959;
--white: #fff;
--but: #394014;
--stars: #ae990b;
--bg: #141a19;
--input: #b9b9b9;
}*/

body {
  font-family: "Jomolhari", "Lato", sans-serif;
  color: #fff;
  background-color: #141a19;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@media screen and (min-width: 1440px) {
  .container {
    margin-left: 24px;
    margin-right: 24px;
  }
  .section {
    margin-bottom: 100px;
  }
  /* Header */
  .nav-link {
    text-decoration: none;
    color: inherit;
  }
  /* sec-Hero */
  .sec-hero {
    height: 800px;
    margin-bottom: 113px;
    background-image: url("../images/hero/hero-desk.jpg");
    background-size: cover; /* Робить зображення повністю відповідним */
    background-repeat: no-repeat; /* Забороняє повторення */
    background-position: center; /* Центрує зображення */
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2ddpx) and (min-width: 1440px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .sec-hero {
      background-image: url("../images/RETINA/hero/hero@2x-desk.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  @media screen and (min-resolution: 288dpi) and (min-width: 1440px),
    screen and (min-resolution: 3dppx) and (min-width: 1440px),
    screen and (min-device-pixel-ratio: 3) and (min-width: 1440px) {
    .sec-hero {
      background-image: url("../images/RETINA/hero/hero@3x-desk.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec-hero-title {
    padding-top: 144px;
    width: 468px;
    font-family: "Jomolhari";
    font-weight: 400;
    font-size: 48px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-align: center;

    color: #fff;
  }
  .ukraine {
    position: relative;
    display: inline-block;
    font-family: "Jomolhari";
    font-weight: 400;
    font-size: 128px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #fff;
  }
  .ukraine::after {
    content: "Ukraine";
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    transform: scaleY(-1);
    opacity: 0.3;
    background: linear-gradient(2deg, #fff 0%, rgba(255, 255, 255, 0) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn-hero {
    margin-right: auto;
    margin-left: auto;
    margin-top: 104px;
    padding: 16px 52px;
    display: block;
    font-family: "Jomolhari";
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: #394014;
    color: #fff;
  }
  .btn-link {
    text-decoration: none; /* Прибирає підкреслення */
    color: inherit; /* Залишає колір тексту, як у батьківського елемента */
  }
  /* sec-About-us */
  .sec-about-us {
    height: 573px;
  }
  /* sec-Our-tours */
  .sec-our-tours {
    height: 1271px;
  }
  /* sec-Gallery */
  .sec-gallery {
    height: 711px;
  }
  /* sec-Reviews */
  .sec-reviews {
    position: relative; /* Контейнер для абсолютного позиціонування */
    height: 698px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(360deg, #141a19 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, #141a19 0%, rgba(0, 0, 0, 0) 100%),
      url("../images/reviews/reviews-bg-desk.jpg");
  }
  .sec-reviews h1 {
    position: absolute; /* Абсолютне позиціонування відносно .sec-reviews */
    top: 64px; /* 64px від верхнього краю секції */
    left: 603px; /* 603px від лівого краю секції */
  }
  .sec-reviews-title {
    font-family: "Lato";
    font-weight: 400;
    font-size: 64px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #fff;
  }
  /* sec-Start-travel */
  .sec-start-travel {
    height: 840px;
  }
  /* Footer */
  .footer {
    height: 324px;
  }
}
