/* === RULES TAGS === */
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #141a19;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* === /RULES TAGS/ === */
